{% extends "base.html" %}

{% block content %}
<h1>Order Up!</h1>
<table>
    <tr>
        <th>Table #</th>
        <th>Employee</th>
    </tr>

    {% for table in tables %}
    <tr>
        <td>{{ table.id }}</td>
        {% if table.orders %}
            <td>{{ table.orders[0].employee.name }}</td>
        {% else %}
            <td>Not Assigned</td>
        {% endif %}
    </tr>
    {% endfor %}

    
    <form method="post" action="{{ url_for('.index') }}">
        {{ form.csrf_token }}
        <div>
            {{ form.tables.label }} {{ form.tables }}
        </div>
        <div>
            {{ form.servers.label }} {{ form.servers }}
        </div>
        <div>{{ form.assign }}</div>
    </form>
    
</table>
{% endblock %}