{% extends "base.html" %}

{% block content %}
<h1>Order Up!</h1>

<!-- <h2>Table Assignments</h2>
<table>
    <tr>
        <th>Table #</th>
        <th>Employee</th>
    </tr>

    {% for table in tables %}
    <tr>
        <td>{{ table.id }}</td>
        {% if table.orders %}
            <td>{{ table.orders[0].employee.name }}</td>
        {% else %}
            <td>Not Assigned</td>
        {% endif %}
    </tr>
    {% endfor %}

</table> -->
    
<h2>Assign A Table</h2>
<form method="post" action="{{ url_for('.index') }}">
    {{ form.csrf_token }}
    <div>
        {{ form.table.label }} {{ form.table }}
    </div>
    <div>
        {{ form.employee.label }} {{ form.employee }}
    </div>
    <div>{{ form.assign }}</div>
</form>

<h2>Your Tables</h2>
<table>
    <tr>
        <th>Table #</th>
        <th>Order Item</th>
        <!-- <th>Close Table</th> -->
    </tr>

    {% for table in your_tables %}
    <tr>
        <td>{{ table.id }}</td>
        <td>here</td>
        <td>
            <form method="POST" action="{{ url_for('.close',id=table.id) }}">
                <button type="submit">Close</button>
            </form>
        </td>
    </tr>
    {% endfor %}

</table>
    
{% endblock %}